.filters-container {
  width: 100%;
  max-width: 730px;
  margin: 0 auto 20px;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar {
  flex-grow: 1;
  margin-right: 20px;
}


.filter-buttons {
  display: flex;
  gap: 10px;
}

.filter-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #f0f0f0;
  color: #333;
}

.filter-button.active {
  background-color: #39af88;
  color: white;
}

.filter-button:hover {
  background-color: #e0e0e0;
}

.filter-button.active:hover {
  background-color: #2d8f6f;
}

@media (max-width: 760px) {
  .filters-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .filter-buttons {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .filter-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .filter-buttons {
    flex-direction: row;
    gap: 5px;
  }

  .filter-button {
    width: 26%;
  }
}